[Unit]
Description=Personal Network Disk Service
After=network.target

[Service]
Type=exec
User=www-data
Group=www-data
WorkingDirectory=/opt/netdisk
Environment=PATH=/opt/netdisk/venv/bin
ExecStart=/opt/netdisk/venv/bin/gunicorn -c gunicorn_config.py app:app
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
